@font-face {
  font-family: 'BMJUA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'BMJUA';

}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.container{
  position: relative;
  width: 500px;
  height: 500px;
  background-color: white;
}

.calculator{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 305px;
  height: 500px;
  border-radius: 20px;
  background-color: coral;
  transform: rotate(20deg) skew(-15deg); 
  z-index: 3;
  display: flex;
  flex-direction: column;
}

.calculator_side{
  position: absolute;
  top: -5px;
  left: -7px;
  width: 325px;
  height: 520px;
  border-radius: 30px;
  background-color: rgb(237, 107, 60);
  transform: rotate(20deg) skew(-15deg); 
  z-index: 2;
}

.calculator_bottom{
  position: absolute;
  top: -4px;
  left: -9px;
  width: 332px;
  height: 527px;
  border-radius: 35px;
  background-color: rgb(223, 94, 47); 
  transform: rotate(20deg) skew(-15deg);  
  z-index: 1;
  box-shadow:80px 60px 20px rgba(0, 0, 0, 0.2);
}

.resultBox{
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 15px 30px 30px 25px;
  border-radius: 20PX;
}


.resultRow, .calculator__display{
  display: flex;
  flex-direction: row-reverse;
  
}


.title{
  flex: 1;
  text-align: center;
  font-size: 20px;
  color: transparent;
  text-shadow: 1px 1px 1px rgb(67, 237, 33),2px 2px 1px #eee, 3px 3px 1px #ddd, 
  4px 4px 1px #ccc,5px 5px 3px rgba(0, 0, 0, 0.3); 
}

.resultRow{
  flex: 1;
  font-size: 20px;
  color: transparent;
  text-shadow: 1px 1px 1px #fff,2px 2px 1px #eee, 3px 3px 1px #ddd, 
  4px 4px 1px #ccc, 5px 5px 3px rgba(0, 0, 0, 0.3); 
}

.calculator__display{
  flex: 2;
  font-size: 50px;
  color: transparent;
  text-shadow: 1px 1px 1px #fff,2px 2px 1px #eee, 3px 3px 1px #ddd, 
  4px 4px 1px #ccc, 5px 5px 1px #bbb, 5px 5px 3px rgba(0, 0, 0, 0.3); 
}

.line1, .line2{
  background-color: #fff;
  height: 2px;
  border-radius: 6px;
  box-shadow:1px 1px 1px #fff,2px 2px 1px #eee, 3px 3px 1px #ddd, 5px 5px 3px rgba(0, 0, 0, 0.3);
}

.line1{
  margin-bottom: 20px;
}

.line2{
  margin-top: 20px;
}


/* ---------------------------------------------------------------------------------------------------- */

.buttonBox{
  flex: 1.5;
  display: flex;
  padding: 0 25px 25px 20px;
}

.col{
  flex: 1;
  display: flex;
  flex-direction: column;
}

.row {
  position: relative;
  color: transparent;
  text-align: center;
  font-size: 30px;
  margin: 6px ;
  flex: 1;
  text-shadow: 1px 1px 1px #fff,2px 2px 1px #ccc, 3px 3px 1px #ccc, 
  4px 4px 1px #bbb, 5px 5px 1px #aaa, 5px 5px 3px rgba(0, 0, 0, 0.3);  
}

.row button{

  border: none;
  background-color: transparent;
  color: transparent;
  font-size: 30px;


  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: 0.1s;
  text-shadow: 1px 1px 1px #fff,2px 2px 1px #ccc, 3px 3px 1px #ccc, 
  4px 4px 1px #bbb, 5px 5px 1px #aaa, 5px 5px 3px rgba(0, 0, 0, 0.3);  
}

.row button:active{
  position: absolute;
  top: 55%;
  left: 55%;
  transform: translate(-50%, -50%);
  text-shadow: 1px 1px 1px #fff,2px 2px 1px #ccc, 3px 3px 3px rgba(0, 0, 0, 0.3);  
}